@import "../../../src/assets/scss/variables";
@import "../../../src/assets/scss/mixins";

.services-container {
  @include dflex();

  flex-direction: column;
  padding: 150px 0 150px 0;
}

.services-text-container {
  @include dflex(flex-start, center);

  flex-direction: column;
}

.services-text-title {
  margin-bottom: 40px;
  padding: 0;
}

.services-text-subtitle {
  max-width: 560px;
  padding: 0;
}

.services-content-container {
  @include dflex(center, flex-start);

  max-width: 1200px;
  gap: 30px;
}

.services-box-item {
  @include dflex(flex-start, center);

  flex-direction: column;
}

.services-pics-item {
  max-height: 260px;
  margin-bottom: 27px;
}