//background images
$prices-bg-img: url('../../assets/images/prices_bg.jpg');
$bg-img: url('../../assets/images/main_bg.jpg');
$bg-blue-cover: linear-gradient(to bottom, rgba(4,69,87,0.80), rgba(4,30,56,0.80));

// colors
$pageGradient: linear-gradient(135deg, #16A085, #F4D03F);
$pageFontColor: white;

// font-sizes
$fontMiddle: 28px;