@import "../../../src/assets/scss/variables";
@import "../../../src/assets/scss/mixins";

.reviews-container {
  @include dflex();

  flex-direction: column;
  padding: 120px 0 150px 0;
  background-color: #ededed;
}

.reviews-posts-container {
  max-width: 760px;
}