@import "../../../src/assets/scss/variables";
@import "../../../src/assets/scss/mixins";
$bg-img: url('../../assets/images/main_bg.jpg');

.main-container {
  height: 90vh;
  width: 100%;
  background-image: $bg-img;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-attachment: scroll;
  box-sizing: content-box;
}

.main-text-container {
  @include dflex();

  flex-direction: column;
}

.main-text-flex {
  @include dflex(space-between, center);

  width: 1200px;
}

.main-text-wrapper {
  @include dflex(center, flex-start);
  flex-direction: column;

  max-width: 860px;
  z-index: 10;
  
  height: 90vh;
  text-align: start;
}

.main-text-title {
  padding: 24px 0 38px 0;
  color: #fff;
}

.main-text-subtitle {
  padding: 24px 0 38px 0;
  color: #afafaf;
  opacity: 0.80;
}

.main-text-bg-cover {
  height: 90vh;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(to bottom, rgba(4,69,87,0.80), rgba(4,30,56,0.80));
}

.main-text-buttons {
  @include dflex(flex-start, center);
  gap: 30px;
}
