@import "../../../src/assets/scss/variables";
@import "../../../src/assets/scss/mixins";
$bg-img: url('../../assets/images/main_bg.jpg');

.main-container {
  height: 100vh;
  width: 100%;
  background-image: $bg-img;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-attachment: scroll;
}

.main-text-container {
  @include dflex(center, flex-start);

  flex-direction: column;
}

.main-text-title {
  padding: 24px 0 38px 0;
  color: #fff;
}

.main-text-subtitle {
  padding: 24px 0 38px 0;
  color: #afafaf;
  opacity: 0.80;
}